body{
    max-width: 100vw;
    max-height: 100vh;
}
.header {
    border: solid 1px #ccc;
    padding: 5px;
    margin: 10px;
}

.dov{
    padding: 1%;
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}
  
.laranja{
    color: #f25333;
}
.codigo{
    padding: 2px;
    border: solid 1px #ccc;
    color: #f25333;
}


.page {
    border: solid 1px #ccc;
    padding: 5px;
    margin: 10px;
}
  
.footer {
    border: solid 1px #ccc;
    padding: 5px;
    margin: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.footer .block {
    border: solid 1px #ccc;
    padding: 5px;
    flex-basis: 23%;
    flex-grow: 1;
}